form {
  margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
  background-color: white;
  color: white;
  border: none;
  border-bottom: 2px solid whitesmoke;
  border-radius: 2px;
  font-size: large;
  font-weight: bold;
}
 .form-container{
 	width: 500px !important;
 	    border: 1px solid gray;
    padding: 10px 10px !important;

 }
 .form-container:hover{
  box-shadow: 1px 7px 34px 3px lightgrey;
 }
 .submit-btn{
  color: #000 !important;
 }